@use "sass:math";
//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}

@mixin iefix {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin ios {
    @supports (-webkit-touch-callout: none) {
        @content;
    }
      
}

@mixin column($gap:0, $gaptab: 0) {
     
    display: flex;
    flex-wrap: wrap;
    @if $gap != 0 {
        margin-right: -$gap;
        margin-bottom: -$gap;

        &__col {
            margin-right: $gap;
            margin-bottom: $gap;
        }
        
    }

    @include tab {
        @if $gaptab != 0 {
            margin-right: -$gaptab;
            margin-bottom: -$gaptab;
    
            &__col {
                margin-right: $gaptab;
                margin-bottom: $gaptab;
            }
            
        }
    }

    @content;
    
}


@mixin ab-center ($yprop : "top", $yv: 50%, $xprop: "left", $xv : 50% , $trf: "-50%, -50%") {
    position: absolute;
    #{$xprop}: $xv;
    #{$yprop}: $yv;
    transform: translate(#{$trf});
    
}


@mixin text-style ($fz: 14, $lh: 1.5, $ls: 0.02) {

    $ffz: math.div($fz , 10);
    font-size: #{$ffz}rem;
    letter-spacing: #{$ls}em;
    @if ($lh != 1.5) {
        $lh: math.div($lh , $fz);
        $lh: math.div(round($lh * 10000) , 10000);
    }
    line-height: $lh;

}

@mixin ab-imgbox($width: 100%, $pb: 100%, $radius: 0, $position: 50% 50%) {
  
    position: relative;
    width: $width;
    padding-bottom: $pb;
    overflow: hidden;

    @if $radius != 0 {
        border-radius: $radius;
    }
    @content;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        object-position: $position;
        
    }
    
}
