.u-font {
    &--w500 {
        font-weight: 500;
    }
}


.u-sponly {
    display: none;
}
@include sp {
    .u-pconly {
        display: none;
    }

    .u-sponly {
        display: initial;
    }
}

.u-tabbelow {
    display: none;
}

@include tab {
    .u-pcabove {
        display: none;
    }

    .u-tabbelow {
        display: initial;
    }
}

.u-stopscrollbody {
    position: fixed;
    left: 0;
}
