/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    font-weight: 300;
    color: $text-color;
    line-height: 1;
    min-height: 100vh;
    width: 100%;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    @include sp {
        min-width: 320px;
    }

}

html {
    height: -webkit-fill-available;
}
//-------------------------------------------------------
main {
    overflow: hidden;
}

section {
    padding: 50px 0;

    @include sp {
        padding: 30px 0;
    }
}

.l-container1 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
//-------------------------------------------------------
