<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page">
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <section class="c-mainvisual">
    <div class="c-mainvisual__inner">
      <h2>LOREM IPSUM</h2>
      <p>In volutpat metus quis velit malesuada</p>
      <a href="<%= BASE_URL %>about.html" class="c-btn1">JOIN NOW</a>
    </div>
  </section>

  <section class="p-top1">
    <div class="l-container">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora
        culpa mollitia ipsa quas quibusdam. Voluptate illo nam delectus
        reprehenderit laborum?
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora
        culpa mollitia ipsa quas quibusdam. Voluptate illo nam delectus
        reprehenderit laborum?
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora
        culpa mollitia ipsa quas quibusdam. Voluptate illo nam delectus
        reprehenderit laborum?
      </p>
    </div>
  </section>
</main>

<div class="c-box">

</div>
<div class="c-box2"></div>
<form action="">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
  <input type="submit">
</form>
<div class="c-modalbutton">
  <a href="" class="is-click c-btn1">click</a>
</div>
<div class="l-column">
  <div class="l-column__col"></div>
  <div class="l-column__col"></div>
</div>
<div class="c-test">
  <div class="c-test__image">
    <div class="c-test__img">
      <img src="/assets/img/entex_0605-3.jpg" alt="">
    </div>
  </div>  
</div>
<div class="l-container2">
  <div class="c-youtube">
    <div class="c-youtubeframe">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QbpNYr-v7J4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>
</div>

<!-- @@content -->

<!-- @script -->
<script>
  console.log("home page");
</script>
<!-- @@script -->
